<p>Welcome to the subscribers application!</p>

<form action="addSubscriber" method="POST">
	<span>Name: </span><input type="text" name="name"></input>
	<span>Email: </span><input type="text" name="email"></input>
	<input type="submit" value="Submit" />
</form>